@using System.Web.Mvc.Html
@model TaskList.Models.LoginModel

@{
    ViewBag.Title = "Home Page";
}
@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="jumbotron">
    <h1>Welcome to the Grand Circus Task Manager</h1>
    <p>@Html.ActionLink("Register Here", "Create", "Users", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        @if (ViewBag.Message != null)
        {
            <p class="text-danger">@ViewBag.Message</p>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h4>If you have an account, please login here:</h4>
        <p>
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                Html.EnableClientValidation(true);
                Html.EnableUnobtrusiveJavaScript(true);
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-2">
                        <label>Email:</label>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(email => Model.Email)
                        @Html.ValidationMessageFor(email => Model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Password:</label>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(password => Model.Password)
                        @Html.ValidationMessageFor(password => Model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Login" id="loginbutton"/>
            }
        </p>
    </div>
</div>